@model InfinityPlay.Models.HomeModels.ALBUM

<div class="content-spacing">
    <div class="container-fluid d-md-inline-flex">
        <div class="col-sm-4">
            <div class="playlist col-sticky">
                <header class="trackList text-center">
                    <img src="@Model.ALBUM_ART" class="img-fluid banner-img img-thumbnail" id="posters" height="400" />
                    <div class="mo-info">
                        <div class="d-block mt-2 font-weight-bold mo-tracklist-info-album" id="">@Model.ALBUM_NAME</div>
                        <div class="d-block mt-2 mo-tracklist-info-artist">@Model.BAND_NAME</div>
                        <p class="d-block mt-3">
                            <small>Release Year:  @Model.RELEASE_YEAR</small>
                        </p>
                    </div>
                </header>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-sm-8">
                <div class="position-relative .tracklist">
                    @foreach (var track in Model.Tracks)
                    {
                        <div class="row d-flex tracklist-row" role="button" tabindex="0">
                            <div class="pr-3 mt-2">
                                <button class="tracklist-play-pause" onclick="playTrack('@track.TRACK_FILE')" title="Play" aria-hidden="true">
                                    <i class="fas fa-play" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="flex-grow-1">
                                <div class="mt-2 d-block" id="">@track.TRACK_NAME</div>
                                <div class="text-muted">@track.Artist.ARTIST_NAME</div>
                            </div>
                            <div class="mt-2 track-time" data-duration="@track.DURATION">
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.track-time').each(function () {
            var seconds = $(this).data().duration;
            var timeString = getFormatedTime(seconds);
            $(this).text(timeString);
        });
    });

    $(document).ready(function () {
        $('#posters').each(function () {
            var showPoster = $(this).data(@Model.ALBUM_ART);
    });
</script>
