@model InfinityPlay.Models.HomePageModel

<div class=" content-spacing gradient-wrap h-auto w-100 background">
    <div class="container">
        <div class="jumbotron-fluid pt-3">
            <div class="row gradient-wrap">
                <div class="col-md-6 banner-text">
                    <h1 class="d-block display-3 text-lg-right">Featured Artist</h1>
                    <h2 class="d-block mt-2 text-lg-right">@Model.Artist.ARTIST_NAME</h2>
                </div>
                <div class="col-md-6 banner-img">
                    <img src="@Model.Artist.ARTIST_IMG" class="img-fluid banner-img img-thumbnail" height="400" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="head-text d-block p-3">
            <div class="mb-2 mt-4">
                <h2>Discover New Music</h2>
            </div>
        </div>
        <div class="grid-row">
            @foreach (var item in Model.Albums)
            {

                <div class="col-xs-6 col-sm-5 col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="media-object" style="max-width: 300px;">
                        <div class="media-object-hoverable">
                            <div class="media-object-wrapper">
                                <img src="@item.ALBUM_ART" class="img-fluid img-thumbnail image" />
                                <div class="overlay_image">
                                    <a class="cover-art play-icon" aria-hidden="true" href="#">
                                        <div class="">
                                            <i class="far fa-play-circle"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="mo-info">
                            <div class="mo-info-album" dir="auto" href="#">
                                <div>@item.ALBUM_NAME</div>
                            </div>
                            <div>
                                <div class="mo-info-artist" dir="auto">@item.BAND_NAME</div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>