<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InfinityPlay</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'0f4f6b7a-2035-415e-b6a9-997457d73976'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body id="root">
    <div class="root-container">
        @{
            Html.RenderPartial("_Navigation");
        }
        <div class="root-main-view">
            <div class="main-view-container body-content">
                <section>
                    <div id="mainContent" class="gradientBG">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>
        @{
            Html.RenderPartial("_MediaPlayer_Footer");
        }
    </div>
    @Scripts.Render("~/bundles/grade")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
       
            $('ul#navLinks li').click(function () {
                const url = $(this).attr('data-page-type');
                history.pushState(null, null, url);
                $('#mainContent').load("/partial/" + url, "", function () {
                    Grade(document.querySelectorAll('.gradient-wrap'));
                });
            });
        });
    </script>
</body>
</html>
