<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InfinityPlay</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>


</head>
<body id="main">
    <div id="root">
        <div class="root-container">
            <nav class="root-navbar">
                <div class="navBar">

                    <div class="root-navbar-header">
                        <a class="navbar-brand" href="/home/index"><span class="logo">Infinity<span style="color:#fff;">Play</span></span></a>
                        @*@Html.ActionLink("InfinityPlay", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                    </div>
                    <ul id="navBar-Group-Links">
                        <li class="navBar-Group Home">
                            <div class="navBar-item navBar-item--left-icon">
                                <a class="link-subtle navBar-link " href="/home/index" aria-label="Home">
                                    <span class="sr-only">(current)</span>
                                    <div class="navBar-link-text-with-icon-wrapper">
                                        <div class="icon home-icon NavBar__icon">
                                            <i class="far fa-compass"></i>
                                        </div>
                                        <span class="navBar-link__text">Home</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="navBar-Group Artists">
                            <div class="navBar-item navBar-item--left-icon">
                                <a class="link-subtle navBar-link" href="/home/artists" aria-label="Artists">
                                    <div class="navBar-link-text-with-icon-wrapper">
                                        <div class="icon home-icon NavBar__icon">
                                            <i class="fas fa-user-friends"></i>
                                        </div>
                                        <span class="navBar-link__text">Artists</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="navBar-Group Albums">
                            <div class="navBar-item navBar-item--left-icon">
                                <a class="link-subtle navBar-link" href="/home/albums" aria-label="Albums">
                                    <div class="navBar-link-text-with-icon-wrapper">
                                        <div class="icon home-icon NavBar__icon">
                                            <i class="fas fa-music"></i>
                                        </div>
                                        <span class="navBar-link__text">Albums</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="navBar-Group">
                            <div class="navBar-item navBar-item--left-icon">
                                <a class="link-subtle navBar-link" href="#" aria-label="Search">
                                    <div class="navBar-link-text-with-icon-wrapper">
                                        <div class="icon home-icon NavBar__icon">
                                            <i class="fas fa-search"></i>
                                        </div>
                                        <span class="navBar-link__text">Search</span>
                                    </div>
                                </a>
                            </div>
                        </li>
                        @*<li class="navBar-Group"><div class="navBar-item navBar-item-left-icon">@Html.ActionLink("About", "About", "Home")</div></li>
                            <li class="navBar-Group"><div class="navBar-item navBar-item-left-icon">@Html.ActionLink("Contact", "Contact", "Home")</div></li>*@
                    </ul>
                </div>
            </nav>
            <div class="root-main-view">
                <div class="main-view-container body-content">
                    <section class="content-spacing">
                        @RenderBody()
                    </section>
                </div>
            </div>
            <div class="Root__now-playing-bar">
                <footer class="now-playing-bar-container">
                    <div class="now-playing-bar">
                        <div class="now-playing-bar_left">
                            <div class="now-playing">
                                <span class="now-playing_widget-overlay" draggable="true">
                                    <a aria-label="" href="" style="border:none;">
                                        <div class="now-playing_cover-art">
                                            <div class="now-playing_cover-art shadow" aria-hidden="true" style="width: 56px; height: 56px;"></div>
                                        </div>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>

    window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(Url.Content("~/"), true));
    alert(window.applicationBaseUrl + "asd.html");

    // if you need to include host and port in the url, use this:
    window.applicationBaseUrl = @Html.Raw(HttpUtility.JavaScriptStringEncode(
        new Uri(
                   new Uri(this.Context.Request.Url.GetLeftPart(UriPartial.Authority)),
                   Url.Content("~/")
               ).ToString(), true));
    alert(window.applicationBaseUrl + "asd.html");
</script>
