<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - InfinityPlay</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/search.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

</head>
<body id="root">
    <div class="root-container">
        @{
            Html.RenderPartial("_Navigation");
        }
        <div class="root-main-view">
            <div class="main-view-container body-content" id="grade">
                <section>
                    <div id="mainContent">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>
        @{
            Html.RenderPartial("_MediaPlayer_Footer");
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/grade")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        window.addEventListener('load', function () {
            Grade(document.querySelectorAll('.gradient-wrap'));
        });
    </script>
</body>
</html>
